In [1]:
import pandas as pd

In [2]:
a = pd.read_excel('int.xlsx')
b = pd.read_excel('roll.xlsx')

In [3]:
a.head()

,S.No,Student Name,University Enrollment Number,Gender,Email ID,Mobile Number,Branch
0,1,Aahana Sharma,182013201,Female,aahanakaushik2002@gmail.com,7465005421,CSE
1,2,Aashima Gupta,18142190,Female,aashigupta2000@gmail.com,7088040216,CSE
2,3,Aastha Bhardwaj,182013204,Female,geurecruitaasthabhardwaj@gmail.com,8368113792,CSE
3,4,Aastha Bist,GE-182013681,Female,abist119@gmail.com,9027207808,CSE
4,5,Aayush Kr Tripathi,2013205,Male,aayushtripathi99@gmail.com,8077592061,CSE

In [4]:
b.head()

,SN,Roll No.,Enrol_No.,Adm. No,Students Name,Father's Name,Branch
0,1,2014619,GE-192014619,19022453,BHAVYA SRIVASTAVA,GEETESH SRIVASTAVA,CSE ML & AI
1,2,2014639,GE-192014639,19021144,DHRUV PUNETHA,RAJENDRA MOHAN PUNETHA,CSE ML & AI
2,3,2014654,GE-192014654,19021025,GAGAN SONI,SURESH SONI,CSE ML & AI
3,4,2014669,GE-192014669,19021325,HARSH CHATURVEDI,GIRISH KUMAR CHATURVEDI,CSE ML & AI
4,5,2014676,GE-192014676,19021291,HARSHIT,SANJAY KUMAR,CSE ML & AI

In [5]:
names1 = [i.lower() for i in a["Student Name"]]

In [6]:
names2 = [i.lower() for i in b["Students Name"]]

In [10]:
print(names1)

['aahana sharma', 'aashima gupta', 'aastha bhardwaj', 'aastha bist', 'aayush kr tripathi', 'aayush saklani ', 'aayush tyagi', 'aayush vishnoi', 'abhay bansal', 'abhinav kumar gaur ', 'abhinav malik', 'abhishek badoni', 'abhishek gusain', 'abhishek mathur', 'abhishek rauthan', 'abhishek singh', 'abhishek sunar', 'adan hussain', 'adarsh kumar ', 'adarsh singh ', 'aditi goswami', 'aditi pandey', 'aditi rawat', 'aditi saini', 'aditya', 'aditya gupta', 'aditya rawat', 'aditya sati', 'aditya singh chauhan ', 'akarsh saransi', 'akash raturi', 'akrati dubey ', 'akshat jain', 'akshita patwal ', 'alok nath pandey', 'aman chaturvedi', 'aman pratap singh', 'aman pundora', 'aman rai', 'ambika bansal', 'analshikha rawat', 'analshikha rawat', 'anand raj', 'ananya atray', 'aniket gahlod', 'anjali rana ', 'ankit panwar ', 'anmol gupta ', 'annu kumari', 'anshika', 'anshul bhatt', 'anshul tyagi', 'anshuman joshi', 'anubhav solanki', 'anuj gupta', 'anuj rawat', 'anurag bansal', 'anurag goel', 'anurag mahar', 'anushka sharma ', 'archit garg', 'arnav sharma', 'arpit chauhan', 'arpit kumar', 'arush naudiyal', 'arushi gupta ', 'aryan panjiyar', 'ashish bisht', 'ashish chauhan', 'ashish dass', 'ashish pradeep chaubey', 'ashutosh aswal', 'astha kukreti', 'atan bhardwaj', 'atulya bist', 'ayush dimri', 'ayush kaler', 'ayush koul', 'ayush pandey', 'ayush panwar', 'ayushi prajapati', 'ayushi saini', 'bandana kushwaha', 'bhumika sharma', 'darshita gupta', 'deepak', 'deepak singh', 'dev chauhan', 'devansh bhandari', 'devansh rawat ', 'devanshu joshi', 'devyansh saini', 'dhruv rawat', 'diksha raturi', 'dikshant yadav', 'dikshant yadav', 'disha pareek', 'divyansh singh chauhan', 'drishya srivastava', 'feroj', 'garv kumar chauhan', 'gaurav chamyal ', 'gaurav raj', 'gaurav rawat', 'gaurav singh rawat', 'gaurav trivedi', 'gaurisha maheshwari ', 'hamza rizwan', 'harsh varshan', 'harshit gupta', 'hitaishi gaur', 'hitesh sachdeva ', 'hiya devli', 'hrithik saini', 'isha', 'ishansh dangwal', 'ishika jindal', 'ishika kesarwani', 'ishika kesarwani', 'ishita bhardwaj', 'ishita kapil', 'ishita praneet', 'jaspreet singh', 'jatin ahuja', 'jyotika negi', 'k.vikas reddy', 'kamesh upmanyu ', 'kanchan rawat', 'kanishk agarwal', 'karan bhanot', 'karan singh bhakuni', 'kartik kandpal', 'kashyap singh', 'kaustubh thapliyal', 'kavya pandey ', 'keshavi thapliyal', 'ketan c pandey', 'komal kumari', 'komaljyot kaur', 'konark anand', 'kritika pandey', 'kshitij bhardwaj', 'kshitiz jain', 'kuldeep nautiyal', 'kunal aaryen sinha', 'kush bindal', 'kushal ranga', 'kushal srivastava', 'kusum pareek', 'lalitesh', 'maaz choudhary', 'mahima rawat', 'mahima sirola ', 'mamta pal', 'manav mishra', 'manik chauhan', 'manish kumar giri', 'manish kumar giri', 'manish singh negi', 'manish tyagi', 'mannan kathuria', 'manvendra pratap singh', 'manvi langer ', 'mayank aggarwal', 'mayank baliyan', 'mayank baliyan', 'mayank mamgain', 'mayank mamgain ', 'megha silori', 'mohd faiz faheem', 'mridul', 'mridul joshi', 'mritunjay karnatak', 'mrugeeraj parmar', 'mukul kaushik', 'muskan tyagi', 'nahar singh', 'nahar singh', 'naivedya lath', 'naman sharma', 'navya bhatt', 'neeraj sharma', 'neha kandari', 'niraj kumar yadav', 'nishtha', 'nistha lohia', 'nupur garg ', 'obaid naseem', 'padmaj verma', 'paras chauhan', 'paritosh rawat', 'parth joshi', 'payal kumari', 'peeyush pratap singh', 'piyush kumar', 'piyush mehta', 'piyush ranjan', 'pooja chaudhary', 'pooja deorari', 'pooja kholiya', 'prabhakar kumar', 'prabhav negi', 'pragati chauhan', 'pragya singh', 'prakhar bansal', 'prakhar naithani', 'prakhar naithani', 'prakriti gupta', 'prapti rana', 'prashant kumar som', 'preeti dasila', 'priya rai', 'priyanka bharti', 'priyanka koranga', 'raghav chandola', 'raghav ramola', 'raghav ramola', 'raghavendra singh shekhawat', 'rahul chauhan', 'rahul panwar', 'rahul prasad', 'rahul yadav', 'rajvardhan', 'rana yuvraj singh', 'ria goel', 'richa bharti', 'rishabh dimri', 'rishabh tyagi', 'rishav gupta', 'rishu trivedi', 'ritik sharma', 'ritik srivastav ', 'ritika jaiswal', 'ritika singh ', 'ritika tripathi ', 'rituraj bailwal', 'ritwick bisht', 'riya garg', 'riya goel', 'riya johar', 'riya sharma', 'rohan rana', 'rohit kumar mishra', 'rohit narayan', 'roshan kumar', 'rounsely negi ', 'sachin kumar', 'sahil bisht', 'saksham agarwal', 'saksham chaudhary', 'saksham chaudhary', 'saksham dangwal', 'saksham gera ', 'sambhav srivastava', 'samridh dhasmana', 'sanidhya verma ', 'sanskar singhal', 'sapna saun', 'sarthak bhatt', 'sarthak gupta', 'sarthak gupta', 'satyam sharma', 'saurabh bisht', 'shagun chauhan', 'shantanu verma', 'shashank dhyani', 'shaswat', 'shivam bohra', 'shivam kumar', 'shivam solanki', 'shivangi bansal', 'shivangi bisht', 'shivangi rawat', 'shivani deoli', 'shivank', 'shivanshu ahuja ', 'shivanshu tiwari', 'shivi agarwal', 'shobhit rawat', 'shrey singhal', 'shreya aggarwal', 'shreya bansal ', 'shreya bansal ', 'shreya mittal', 'shruti rawat', 'shubham bisht', 'shubham bisht', 'shubham jain', 'shubham jain', 'shubham kant chaurasia ', 'shubham rana', 'shubham singh bohra', 'shubhank singhal', 'siddhant kumar', 'siddhant mishra', 'siddhant rawat', 'siddhant thapliyal', 'siddharth lasiyal', 'siddharth singh', 'sidhant bidaliya', 'simran sethi', 'sista seetaram', 'sneh agrawal', 'sneh sharma', 'snigdha biswas', 'sonal malhotra', 'sourabh patidar', 'sparsh saxena', 'srishti patwal ', 'stuti bahuguna ', 'subodh rana', 'sudhanshu prajapati', 'suhani arora ', 'sumeet gairola', 'sundaram saurabh', 'sunmeet singh', 'sunoj tomar', 'suraj lunthi', 'suyash agarwal', 'suyash dutt', 'sweta agarwal', 'tanishqa joshi', 'tanmay rauthan', 'tanmay uniyal', 'tannushree bhandari', 'tanuj pandey', 'tanya chetna vaish', 'tejash bansal', 'thakur prashant peeyush', 'tushar arora', 'tushar dimri', 'tushar jha', 'tushar pandey', 'udisha mehra', 'ujjawal varshney', 'upendra sharma', 'utkarsh garg', 'vaibhav bharti', 'vaibhav bisht', 'vaibhav jain', 'vaibhav joshi', 'vaibhav singh', 'vaibhav srivastava', 'vaishnavi agarwal', 'vanshika kaushik', 'vartika bhandari ', 'varun joshi', 'varun pathak', 'vibhuti', 'vidha pandey', 'vidhi bhatt', 'vidit rastogi', 'vidur agarwal', 'vikrant singh', 'vineet choudhary', 'vineet joshi', 'vishnu raj', 'vishwas agarwal', 'vishwas agarwal', 'yash goel', 'yash pandey ', 'yashika dangi', 'yogita sharma', 'yuvraj joshi', 'yuvraj singh', 'zubair ansari']

In [11]:
print(names2)

['bhavya srivastava', 'dhruv punetha', 'gagan  soni', 'harsh  chaturvedi', 'harshit', 'lokesh  rawat', 'mritunjai s rawat', 'navleen  arora', 'neha  saxena', 'prashant  arya', 'pratyaksh  bharadwaj', 'sameer  srivastava', 'utkarsh  kushwaha', 'ansh kumar garg', 'aakarshan chauhan', 'aashee rawat', 'abhinav rawat', 'akshat bhatt', 'akshat  rana', 'aman  nautiyal', 'anirudh negi', 'anmol  siwach', 'anushka  agarwal', 'ashish sahu', 'ashutosh  bisht', 'ashutosh  dhyani', 'ashutosh vyas', 'aviral  sharma', 'ayush mittal', 'ayush singh rawat', 'devendra  johari', 'dhruv saini', 'divyansh  saxena', 'divyansh gautam', 'jigyasu  deo', 'keshav aman', 'keshav  tanwar', 'kunnal vishnoi', 'kushagr  nandan', 'lakshika  kapri', 'maneesh  cheema', 'neetansh  bhartiya', 'nupur  rawat', 'paras raj dhar', 'parth  nautiyal', 'prabhat  malhan', 'prakhar  bhandari', 'pridum  bhat', 'priyanshu  dimri', 'rachit  kukreja', 'raja', 'rishab  negi', 'riya  rawat', 'rohan  tripathi', 'sachin  sajwan', 'sahitya arya', 'sankalp  varshney', 'sanyam  jain', 'sarthak  malik', 'sarvagya  rawat', 'saumya  singh', 'shashank raturi', 'shivam  bahukhandi', 'shivani  aswal', 'shivanshu singh bisht', 'shraddha markandey', 'shreya nawani', 'shubh  rastogi', 'syed affan ahmad', 'ujjwal panwar', 'vidushi prasad', 'bhanu pratap singh', 'deepanshu tewari', 'ganganapali venkata  kalyan', 'shaik farhathulla', 'adarsh dutt shukla', 't shankar', 'astha  rai', 'keshav goswami', 'harshit sati', 'pranjal agarwal', 'ritvik  sharma', 'aashi bansal', 'harshit tiwari', 'naman  sharma', 'lavish arora', 'surbhi  gusain', 'piyush  kumar', 'aryan  tuteja']

In [16]:
w = []
for i in names2:
    
    if i in names1:
       w.append(i)

In [8]:
print(w)

[]